/*2*/
body { background-color: lightgray;}

/*this styles all the p tags within the css-classes class*/
.css-classes h1{ font-size: 18px;}

.css-classes p{ font-size: 16px; color: green;}

/*this styles all the li items within the css-classes class*/
.css-classes li{ color: navy; list-style-type:circle;}
